/*  요소 선택자로 스타일적용 */


h2{
    background-color: yellow;
    padding: 16px;
}
p{
    color: blue;
}

/* (권장) 클래스선택자를 이용하는게 좋다. */
.wrap{
    background-color: antiquewhite;
    padding-block-start: 16px;

}
img{
    width: 200px;
}